/* Este arquivo é destinado para fins de criar as estilizações especificamente do componente teclado presente no projeto */

.bt-keyboard{
    font-size: 16px;
    width: 30px;
    color: #0c192c;
}
.bt-keyboard:hover{
    background: rgb(130, 10, 130);
    color: white;
}