/* essa parte do bom dia era apenas pra teste e será removida*/
#bom-dia.hide {
    display: none;
}

#theme-select {  /* seleciona o id:theme-select vindo do html */
  display: none; /* define a caixa de seleção como incialmente oculta */
  margin: 10px auto; /* centraliza a caixa de seleção com "auto" e define 10 pixels para as margens superior e inferior */
  width: 300px; /* define a largura como 300 pixels */
  font-size: 20px; /* define o tamanho da fonte como 20 pixels */
  color: black; /* deixa a cor do texto preta */
}
