<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/main.css">
    <title>Jogo da Forca</title>
</head>
<body>
    <!-- <div class="top-20">
        <a href="./menu.html" class="no-style shadow-effect"><button class="bt-primary no-border">Voltar</button></a>
    </div> -->
    <div class="flex column center full"> 
        
        <div class="text main shadow-effect sucess-title top-30 hidden" id="succesAlert">
            <p>Parabéns, você venceu essa rodada</p>
            <br>
            <p>Selecione uma opção abaixo: </p>
            <div class="bt-section flex gap-20 center top-20">
                <a href="./menu.html" class="no-style shadow-effect"><button class="bt-primary no-border">Voltar</button></a>
                <a href="" class="no-style shadow-effect"><button class="bt-primary no-border" onclick="restartSession()">Reiniciar</button></a>
            </div>
        </div>

        <div class="text main shadow-effect sucess-title top-30 hidden" id="failAlert">
            <p>Que pena, você perdeu essa rodada</p>
            <br>
            <p>Selecione uma opção abaixo: </p>
            <div class="bt-section flex gap-20 center top-20">
                <a href="./menu.html" class="no-style shadow-effect"><button class="bt-primary no-border">Voltar</button></a>
                <a href="" class="no-style shadow-effect"><button class="bt-primary no-border" onclick="restartSession()">Reiniciar</button></a>
            </div>
        </div>

        <main class="main flex column margin-auto gap-20 center">
            
            <!--Elemento onde será construído o desenhho da forca-->
            <div class="forca border flex column center" id="forca">
                <div class="head border top-50 hide"></div>
                <div class="body hide"></div>
                <div class="member arm-left hide"></div>
                <div class="member arm-right hide"></div>
                <div class="member leg-left hide"></div>
                <div class="member leg-rigth hide"></div>
                <div class="forca-torso"></div>
                <div class="forca-head"></div>
            </div>

            <!--Elemento onde será construída a palavra da rodada-->
            <div class="word">
                <table class="text">
                    <tr id="word">
                        <!-- <td class="border box"></td>
                        <td class="border box"></td>
                        <td class="border box"></td>
                        <td class="border box"></td>
                        <td class="border box"></td> -->
                    </tr>
                </table>
            </div>
            
            <!--Elemento onde será construído o teclado virtual que será utilizado para selecionar as letras-->
            <div class="keyboard">
                <table>
                    <tr>
                        <td><button class="bt-keyboard" onclick="verifyExistance('Q')">Q</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('w')">W</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('E')">E</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('R')">R</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('T')">T</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('Y')">Y</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('U')">U</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('I')">I</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('O')">O</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('P')">P</button></td>
                    </tr>
                    <tr>
                        <td><button class="bt-keyboard" onclick="verifyExistance('A')">A</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">S</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">D</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">F</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">G</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">H</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">J</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">K</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('L')">L</button></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">Z</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">X</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">C</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">V</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">B</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance()">N</button></td>
                        <td><button class="bt-keyboard" onclick="verifyExistance('M')">M</button></td>
                    </tr>
                </table>
            </div>
        </main>
    </div>

    <script src="./../controller/forca.js"></script>
</body>
</html>